# Virtual environment
venv/
.env

# Data directories
data/*
notebooks/data/*
# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Logs
*.log

# embeddings and enriched data
*_embeddings.csv
*_enriched.csv
